<div class="songs nes-container is-centered">
  <div *ngFor="let song of listSong$ | async"
       class="song nes-container is-rounded">
    <div [routerLink]="['../', song._id]" class="left">
      <h2 class="title">{{ song.title }}</h2>
    </div>
    <div class="right">
      <button [routerLink]="['../', song._id, 'update']" class="btn nes-btn is-warning" type="button">Update</button>
      <button (click)="showModal(song._id)" class="btn nes-btn is-error" type="button">
        Delete
      </button>

      <!-- Dialog -->
      <div class="modal" id="{{ song._id }}">
        <div class="modal-content">
          <div class="nes-container">
            <p>Do you really want to delete this song?</p>
            <menu class="menu-modal">
              <button (click)="hideModal(song._id)" class="btn-menu nes-btn">Cancel</button>
              <button (click)="deleteThisSong(song._id)" class="btn-menu nes-btn is-error">Confirm</button>
            </menu>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
