.navbar {
  display: flex;
  margin-bottom: 2em;
  padding: 1em;
  border-bottom: 3px solid #95a5a6;
}

.brand {
  margin-left: 10px;
}

.home-container {
  display: flex;
  justify-content: center;
}

.block-router-outlet {
  width: 70%;
}

/**
  Mobile
 */
@media only screen and (max-width: 600px) {
  .block-router-outlet {
    width: 100%;
  }
}

