<div class="nes-container with-title">
  <p class="title">Update a new song</p>
  <form (ngSubmit)="submit()" [formGroup]="songForm">
    <!--  Title Input-->
    <div class="nes-field">
      <label for="title">Title</label>
      <input class="nes-input" formControlName="title" id="title" type="text">
    </div>

    <!--  Artist Input-->
    <div class="nes-field">
      <label for="artist">Artist</label>
      <input class="nes-input" formControlName="artist" id="artist" type="text">
    </div>

<!--    Emotion Selection-->
    <div class="emotion nes-field">
      <p class="title-emotion">Emotion:</p>
      <label>
        <input class="nes-radio" type="radio" value="happy" checked formControlName="emotion">
        <span>Happy</span>
      </label>
      <label>
        <input class="nes-radio" type="radio" value="sad" formControlName="emotion">
        <span>Sad</span>
      </label>
    </div>

    <!--  Lyric Input-->
    <div class="text-area-block">
      <label for="lyric">Lyric</label>
      <textarea class="nes-textarea" formControlName="lyric" id="lyric"></textarea>
      <button class="btn-paste nes-btn" type="button" (click)="copyFromClipBoard()">Paste</button>
    </div>

    <!--  Submit-->
    <button class="btn-submit nes-btn is-primary" [disabled]="!songForm.valid" type="submit">Submit</button>
  </form>
</div>


