.btn-paste {
  margin: 0;
  padding: 3px;
}

.btn-submit {
  margin: 10px 0;
}

.text-area-block {
  position: relative;
}

.text-area-block textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 3px;
}

.text-area-block button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.emotion {
  display: flex;
  margin-top: 1em;
}

.title-emotion {
  margin-right: 1em;
}
