/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Fernando";
  src: url("./assets/FVF Fernando 08.ttf");
}

* {
  font-family: "Fernando", monospace;
}
