<div class="menu">
  <button [routerLink]="['create']" class="btn nes-btn is-success" type="button">Create a new song</button>
  <button [routerLink]="['list']" class="btn nes-btn">List Song</button>
  <button (click)="getRandomSong()" class="btn nes-btn is-primary" type="button">Random</button>
</div>

<div class="emotion-selection nes-container with-title is-centered">
  <p class="title">Emotion</p>
  <div class="radio-block">
    <label>
      <input checked class="nes-radio" [routerLink]="['list']" type="radio" name="emotion" value="all"/>
      <span>All</span>
    </label>

    <label>
      <input class="nes-radio" [routerLink]="['list']" [queryParams]="{ emotion: 'happy' }" type="radio" name="emotion" value="happy"/>
      <span>Happy</span>
    </label>

    <label>
      <input class="nes-radio" [routerLink]="['list']" [queryParams]="{ emotion: 'sad' }" type="radio" name="emotion" value="sad"/>
      <span>Sad</span>
    </label>
  </div>
</div>

<div [routerLink]="[currentSong?._id]" class="current-song nes-container is-rounded is-dark">
  <h3>{{ currentSong?.title }}</h3>
  <p>{{ currentSong?.artist }}</p>
</div>

<router-outlet></router-outlet>
